body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.tg {
    width: 80%;
    height: 200px;
    border-collapse: collapse;
    border-color: #9ABAD9;
    border-spacing: 0;
}

.tg td {
    background-color: #EBF5FF;
    border-color: #9ABAD9;
    border-style: solid;
    border-width: 1px;
    color: #444;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    background-color: #409cff;
    border-color: #9ABAD9;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-09md {
    border-color: inherit;
    font-family: "Arial Black", Gadget, sans-serif !important;
    font-size: 13px;
    text-align: center;
    vertical-align: top
}