<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style-admin.css">

    <title>Document</title>

</head>

<body>
<div class="container">
    <div class="item1">
        <h2>상훈이네 국밥집</h2>
    </div>
    <div class="item2">
        <p>총 방문자 수 : </p>
        <p>총 대기팀 수 : </p>
        <p>이용중인 고객수 : </p>
    </div>
</div>
<hr>
<table class="tg">
    <thead>
    <tr>
        <th class="tg-09md">Num</th>
        <th class="tg-09md">UserName</th>
        <th class="tg-09md">입장완료여부</th>
        <th class="tg-09md">고객호출</th>
        <th class="tg-09md">입장확인</th>
        <th class="tg-09md">퇴장확인</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="tg-09md"></td>
        <td class="tg-09md"></td>
        <td class="tg-09md"></td>
        <td class="tg-09md">
            <button>클릭</button>
        </td>
        <td class="tg-09md">
            <button>클릭</button>
        </td>
        <td class="tg-09md">
            <button>클릭</button>
        </td>
    </tr>
    <tr>
        <td class="tg-09md"></td>
        <td class="tg-09md"></td>
        <td class="tg-09md"></td>
        <td class="tg-09md">
            <button>클릭</button>
        </td>
        <td class="tg-09md">
            <button>클릭</button>
        </td>
        <td class="tg-09md">
            <button>클릭</button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>