<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>간단한 지도 표시하기</title>
  <script type="text/javascript"
          src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=i3qv4ecus5"></script>
  <script type="text/javascript"
          src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=i3qv4ecus5&submodules=geocoder"></script>
</head>
<body>
<div id="map" style="width:80%;height:800px;"></div>
<script th:inline="javascript">
  var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng([[${Lat}]], [[${lng}]]),
    zoom: 15
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng([[${Lat}]], [[${lng}]]),
    map: map
  });
</script>
</body>
</html>